@tailwind base;
@tailwind components;
@tailwind utilities;



.background {
    background-image: url("../assets/background.png");
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
    height: 100%;
}