@tailwind base;
@tailwind components;
@tailwind utilities;


.background {
  background: linear-gradient(to right, rgb(52, 40, 80), rgb(14, 7, 36));
  background-size: cover;
}

.box div {
  position: absolute;
  width: 300px;
  height: 300px;
  border-radius: 150px;
  border: 10px solid rgba(255, 255, 255, 0.117); 
  z-index: -1;
  box-shadow: 
    0 0 4px 4px rgba(255, 255, 255, 0.6),
    0 0 8px 8px rgba(255, 255, 255, 0.3);
}

.box div:nth-child(1){
  top: 12%;
  left: 42%;
  animation: animate 19s linear infinite; 
}

.box div:nth-child(2){
  top: 70%;
  left: 50%;
  animation: animate 15s linear infinite; 
}

.box div:nth-child(3){
  top: 17%;
  left: 6%;
  animation: animate 18s linear infinite; 
}

.box div:nth-child(4){
  top: 20%;
  left: 60%;
  animation: animate 21s linear infinite; 
}

.box div:nth-child(5){
  top: 67%;
  left: 10%;
  animation: animate 14s linear infinite; 
}

.box div:nth-child(6){
  top: 80%;
  left: 70%;
  animation: animate 19s linear infinite;
}

.box div:nth-child(7){
  top: 60%;
  left: 80%;
  animation: animate 22s linear infinite; 
}

.box div:nth-child(8){
  top: 32%;
  left: 25%;
  animation: animate 23s linear infinite; 
}

.box div:nth-child(9){
  top: 90%;
  left: 25%;
  animation: animate 16s linear infinite;
}

.box div:nth-child(10){
  top: 20%;
  left: 80%;
  animation: animate 12s linear infinite; 
}

@keyframes animate {
  0% {
    transform: scale(0) translateY(0) rotate(0);
    opacity: 0.1;
  }
  100% {
    transform: scale(1.5) translateY(-90px) rotate(360deg);
    opacity: 0;
  }
}

button {
    position: relateive;
    border: none;
    transition: .7s ease-in;
    z-index: 1
}


button::before
button::after {
    position: absolute;
    content: "";
    z-index: -1;

}


.item:hover {
    box-shadow: inset -10.5em 0 0 0 #b5e1f1, inset 10.5em 0 0 0 #adf0b5;
}


@media (max-width: 640px) {
    .item {
      font-size: 12px;
      padding: 4px 10px;
    }

    .content {
      width: 90%;
    }

    .background {
      height: 300vh;
    }

    .link-button {
      width: 60%;
      height: 60%;
      font-size:x-small;
    }

    .project-img {
      width: 90%;
      height: 90%;
    }

    .all {
      margin-left: 10px;
    }
  }


.nav { 
    height: '20px';
    z-index: 10;
}


.faded-background {
    background-color: rgba(248, 248, 251, 0.8);
    padding: 5px;
}


.earth {
    z-index: -1;
    -webkit-animation:spin 14s linear infinite;
    -moz-animation:spin 14s linear infinite;
    animation:spin 14s linear infinite;
}
@-moz-keyframes spin { 
    100% { -moz-transform: rotate(360deg); } 
}
@-webkit-keyframes spin { 
    100% { -webkit-transform: rotate(360deg); } 
}
@keyframes spin { 
    100% { 
        -webkit-transform: rotate(360deg); 
        transform:rotate(360deg); 
    } 
}


.profile-container {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  z-index: -10;
  flex: auto;
}

  
  .move-profile-1 {
    animation: slide-in 2s ease-in-out forwards;
  }

  .move-profile-2 {
    animation: slide-in 3s ease-in-out forwards;
  }

  .move-profile-3 {
    animation: slide-in 4s ease-in-out forwards;
  }

  @media screen and (max-width: 500px) {
    .move-profile-3,
    .move-profile-2 {
        display: none; 
    }
}

  @media screen and (max-width: 768px) {
    .move-profile-3 {
        display: none; 
    }
}

@media screen and (max-width: 860px) {
  .grid-cols-2 {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
}


  @keyframes slide-in {
    from {
      transform: translateX(100px);
    }
    to {
      transform: translateX(0);
    }
  }
  

.content-container {
    position: relative;
    z-index: -100;
}

.resume {
  transition: all 0.1s ease;
-webkit-transition: all 0.1s ease;
}


@keyframes jump {
  0%, 100% {
    transform: translateY(5px);
  }
  50% {
    transform: translateY(-5px);
  }
}

.resume:hover .res-img {
  animation: jump 2s;
  animation-timing-function: ease-out;
  animation-iteration-count: infinite;
}

